extends ../layouts/layout

block content
  h1 Cat치logo de Objetos Celestes

select(name="tipo")
  option(value="Todos" selected=(filtros && filtros.tipo === 'Todos')) Todos los tipos
  option(value="Estrella" selected=(filtros && filtros.tipo === 'Estrella')) Estrella
  option(value="Planeta" selected=(filtros && filtros.tipo === 'Planeta')) Planeta
  option(value="Galaxia" selected=(filtros && filtros.tipo === 'Galaxia')) Galaxia

input(type="number", name="magnitud", step="0.1", placeholder="M치x. magnitud", value=(filtros && filtros.magnitud) || '')

  button(type="submit") Filtrar

  .catalog-grid
    each obj in objetos
      .card
        img(src=obj.imagen, alt=obj.nombre)
        h2= obj.nombre
        p Tipo: #{obj.tipo}
        if obj.magnitud
          p Magnitud: #{obj.magnitud}
        if obj.distancia
          p Distancia: #{obj.distancia} a침os luz
        a(href=`/objeto/${obj.id}`) Ver m치s
