extends ../layouts/layout

block content
  form(action='/catalogo', method='get')
    input(type='text', name='nombre', placeholder='Buscar por nombre o ID')
    button(type='submit') Buscar

  if objetos.length
    h2 Resultados:
    ul
      each objeto in objetos
        li
          h3= objeto.nombre
          if objeto.imagen
            img(src=objeto.imagen, alt=objeto.nombre, width="200")
          else
            p Imagen no disponible
          p Tipo: #{objeto.tipo}
          p Descripción: #{objeto.descripcion} 
  else if filtros.nombre
    p No se encontraron resultados para "#{filtros.nombre}"
  else
    p Ingresa un nombre o ID para comenzar la búsqueda.
