extends ../layouts/layout

block content
  .detalle
    img(src=objeto.imagen, alt=objeto.nombre)
    h1= objeto.nombre
    h3 Tipo: #{objeto.tipo}
    if objeto.magnitud
      p Magnitud aparente: #{objeto.magnitud}
    if objeto.distancia
      p Distancia: #{objeto.distancia} años luz
    if objeto.composicion
      p Composición: #{objeto.composicion}
    if objeto.historia
      h4 Historia y mitología
      p= objeto.historia
    if objeto.observacion
      h4 Observación
      p= objeto.observacion
    if objeto.enlace
      h4 Referencias
      a(href=objeto.enlace target="_blank") Ver más información
    a(href="/catalogo") ← Volver al catálogo
