extends ../layouts/layout

block content
  h1 Datos Científicos

  if data
    h2= data.nombre
    p Fuente: #[strong #{data.fuente}]

    if data.tipo
      p Tipo: #{data.tipo}

    if data.redshift
      p Redshift: #{data.redshift}

    if data.notas
      p Notas: #{data.notas}

    if data.referencias != null
      p Número de referencias: #{data.referencias}

    if data.masa
      p Masa: #{data.masa}

    if data.densidad
      p Densidad: #{data.densidad}

    if data.gravedad
      p Gravedad: #{data.gravedad}

    if data.radio
      p Radio medio: #{data.radio}

    if data.lunaCantidad != null
      p Número de lunas: #{data.lunaCantidad}

  else
    p No se encontraron datos científicos para este objeto.

  br
 
  else
    h2 Objeto no encontrado

